<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anupo.anupomroy_comp304_assignment2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity" />
        <activity android:name=".iPhoneActivity" />
        <activity android:name=".CheckOutActivity" />
        <activity android:name=".CellPhoneActivity" />
        <activity android:name=".LaptopActivity" />
        <activity android:name=".TelevisionsActivity" />
        <activity android:name=".PrintersActivity" />
        <activity android:name=".AccessoriesActivity" />
        <activity android:name=".SamsungActivity" />
        <activity android:name=".BlackBerryActivity" />
        <activity android:name=".GoogleActivity" />
        <activity android:name=".LgActivity" />
        <activity android:name=".CustomerDetails"></activity>
    </application>

</manifest>